*{
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
  max-width: 960px;
  margin: 0 auto;
}

.question-title{
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  font-size: 1.25rem;
}

.task{
  border-left: 10px solid teal;
  padding: 15px 20px;
  background-color: rgb(228, 171, 171);
  margin: 25px 0;
}

.task > p{
  line-height: 1.4;
  text-align: justify;
}

.task > p + p{
  padding-top: 10px;
}

footer{
  background-color: teal;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
